{% extends 'base.html' %}

{% block title %}
    Income List
{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Income List</h1>
        <a href="{% url 'income_create' %}" class="btn btn-primary mb-3">Add New Income</a>
        <ul class="list-group">
            {% for income in incomes %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ income.name }} + {{ income.amount }} {{ income.currency }}
                    <a href="{% url 'income_update' income.pk %}" class="btn btn-warning btn-sm ">Edit</a>
                    <a href="{% url 'income_delete' income.pk %}" class="btn btn-danger btn-sm">Delete</a>


                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
